# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\beto7\OneDrive\Documents\Google Drive\FSU\Classes\06. Fall 2021\CIS 4930\Titanic Final Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


